.coinFormContainer {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    width: 300px;
}

.buy {
    padding: 10px;
    border: none;
    background-color: green;
    color: white;
}

.sell {
    padding: 5px;
    border: none;
    background-color: red;
    color: white;
}